

.text-center {
    margin: 12vw 30vw;

}

.btn-primary {
    color: #edebd9 ;
    background-color: #23275c;
    border-color: #23275c;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle {
    color: #edebd9 ;
    background-color: #00848c;
    border-color:  #00848c;
    box-shadow: 0 0 0 0.2rem rgba(0,132,140,.5);

}

small {
    text-align: left;
}
