<main>
    <div class="jumbotron mt-5">
        <div class="container">
          <h1 class="display-3 mb-5">¡Bienvenido a Posting!</h1>
          <p class="mb-5">En este espacio podrás publicar y leer artículos de todo tipo. Sólo tienes que registrarte y empezar a escribir.</p>

          <p><a class="btn btn-primary btn-lg" href="/post">Empieza ya »</a></p>
        </div>        

    </div>

    <div class="container mt-5">
        <div class="blog-post mb-5" *ngFor="let post of posts">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">Autor: {{ post.name }}</p>
            <img class="mb-3 home-images" [src]="post.image">
    
            <div>{{ post.text }}</div>
            <p *ngIf="post.tags != ''">Tags: {{ post.tags }}</p>
        </div>
        
        <hr>
    </div>

    
</main>